/********** Game Board ***********/

.gameBoard {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: black;
}

/********** Misc (All Cards, Deck, New Card) **********/

.lastCard {
    margin-right: 0 !important;
}

.cardArea {
    width: 95%;
    margin: 0 auto;
    border: 1px solid white;
}

.deckAndNewCardArea {
    position: fixed;
    width: 10%;
    height: 150px;
    top: 40vh;
    margin-left: 45%;
    border: 1px solid white;
    background: orange;
}
.deck, .newCard {
    display: inline-block;
    width: 46%;
    height: 96%;
    margin-left: 2%;
    margin-top: 1%;
    border: 1px solid black;
}

/********** Main Player **********/

.mainPlayerArea {
    position: fixed;
    width: 50%;
    height: 215px;
    bottom: -15vh;
    margin-left: 25%;
    border: 1px solid white;
    background: green;
}

.mainPlayerCard {
    display: inline-block;
/*    margin-right: 14px;
*/    height: 150px;
    width: 10%;
    border: 1px solid white;
}

/********** Player2 **********/

.player2Area {
    position: fixed;
    width: 50%;
    height: 215px;
    top: -20vh;
    margin-left: 25%;
    vertical-align: text-bottom;
    border: 1px solid white;
    background: red;
}

/********** Player3 and Player4 **********/

.otherPlayerCard {
    display: inline-block;
/*    margin-right: 14.7px;
*/    height: 150px;
    width: 10%;
    border: 1px solid white;
}